body{
    box-sizing: border-box;
}
.container{
    margin: 0;
    position: relative;
}
span{
    display: block;
    position: relative;
    background: gray;
    border-radius: 6px;
    height:5px;
    width: 25px;
    margin:0 0  3px 25px;
    z-index: 1;
}

.click{
    position: relative;
    z-index: 2;
    width: 32px;
    height: 35px;
    display: block;
    top: -25px;
    left: 20px;
    opacity: 0;
    cursor: pointer;
}

.menu-page{
    position: relative;
    width: 350px;
    height: 350px;
    margin: -90px 0 0 calc(20px - 100%);
    background-color: cornflowerblue;
    border-radius: 10px;
    z-index: 0;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

input:checked~span{
    background: #0285fc;
}

input:checked~div{
    transform-origin: -100% 0;
    padding-left: 50px;
    margin:-100px 0 0 20px;
}


ul{
    padding-top: 20px;
    list-style: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}
li{
    margin-bottom: 10px;
}
li:hover{
    color: #0285fc;
    cursor: pointer;
}
