body{
    background-color: #f1f1f6;

}
.logo{

    margin-left: 350px;
    margin-top: 200px;
    text-align:left;
    width: 301px;
    height: 80px;
}
h2 {
    margin-left: 375px;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

input{
    margin-bottom: 10px;
    border-color: lightgray;
    width:300px;
    height:45px;
    border-radius: 6px;
}
#new_acc{
    margin-top: 10px;
    margin-left: 90px;
    background-color: #06a106;
    border:none;
    color: #f1f1f6;
    width: 200px;
    font-weight: bold;
}
.log_in{
    background-color: royalblue;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: #f1f1f6;
}
form{

    font-size: 17px;
    width:300px;

}
.seperate{
    width: 300px;
    border-bottom: 1px solid;
    color: #dadde1;
}
.main{
display: flex;
    flex-direction: row;

}
.left{
    display:flex;
    flex-direction: column;

}
.right{

    display: flex;
    flex-direction: column;
}
.form_design{

    align-items: center;
    box-shadow:1px 2px 0px 2px white;
    margin-top: 200px;
    width: 375px;
    height: 400px;
    background-size: 700px 1000px;
    background-color: #ffffff;
    border-radius: 6px;
}
    .link{
        margin-left: 100px;
        color: deepskyblue;
        font-family: Arial,sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
    }
    li{
        list-style-type: none;
     }
    .create_page{

        width: 400px;
    }
.create_page{
    padding-top: 10px;
    text-align: center;
    font-family: sans-serif, Arial;
    font-weight: 500;
    font-size: 15px;
}
a{
    text-decoration: none;
}
.lang{
    color: #888888;
    font-family: Arial,sans-serif;
    text-align: center;
    font-size: 14px;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: white;
}
li{
    margin-right: 5px   ;
    display: inline-block;
}
input{
    margin-top:25px;
    margin-left: 30px;
}
.seperate{
    margin-left: 30px;
}
.fullwidth-seperate{
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
    color: #dadde1;
}
.other_things{
    color: #888888;
    font-family: Arial,sans-serif;
    font-size: 14px;
    text-align: center;
}